---
layout: homepage
---

<section id="overview">
  <div class="grid">
    <h1><a href="/">Bulent Guneralp</a></h1>

    <div class="summary">
      <p>{{ site.description }}</p>
    </div>

    {% include links.html %}
  </div>
</section>

<section id="reviews">
  <div class="grid">
    <p class="rating">&ldquo;&#9733;&#9733;&#9733;&#9733;&#9733;&rdquo;</p>
    <p class="description">A student favorite on TakeLessons.com</p>
    <p><a class="button" href="http://takelessons.com/profile/bulent-g#Reviews">See reviews</a></p>
  </div>
</section>

<section id="testimonials">
  <div class="grid">
    <h2>What Students Say</h2>
    <section>
      <h3>Voice Lessons</h3>
      <ul>
        <li>
          <blockquote>Over the past 6 years, I have performed more than 600 concerts worldwide. Bulent helped me to lay the groundwork for a voice that is well-prepared to take on the rigors of the road as well as the discipline to expect the best out of myself each night. From warming up and warming down, to lifestyle and technique, Bulent's instruction has encouraged, motivated, and prepared me to maximize my singing career.</blockquote>
          <cite>Jon Ricci, lead singer of Lansdowne</cite>
        </li>
        <li>
          <blockquote>As a tenor I had no idea how to sing the high notes. When I sang, they used to come out, but sounded tight, so I never got a part in an opera. Well, just in one lesson I vocalized to a high C with the knowledge he gave me. I actually, for the first time, knew how I did it. &hellip; I've never given up on my dream, at times I wanted to, but now Bulent has given me a new hope that hopefully within a year I can actually audition for a part in a opera. A dream come true.</blockquote>
          <cite>Fausto Di Ianne, tenor</cite>
        </li>
        <li>
          <blockquote>Blending great clarity, passion, knowledge and warmth, he has provided me with the tools to dramatically enhance my vocal talents. Whether breathing, posture, legato, tone, control, phrasing or otherwise, Bulent is remarkably attentive, engaging and effective.</blockquote>
          <cite>Jack Volpe</cite>
        </li>
        <li>
          <blockquote>Bulent is a great teacher. He is very patient and consistent, and he is willing to work with you at whatever level you are. &hellip; In one lesson, I was able to fix a sound problem that I had, and had instant results.</blockquote>
          <cite>Dean B., bass-baritone</cite>
        </li>
      </ul>
    </section>
    <section>
      <h3>Piano Lessons</h3>
      <ul>
        <li>
          <blockquote>Aside from his technical expertise, I think that one of the greatest things he gives his students is hope. I'm playing again, I'm practicing again. Sitting at the piano has become both easy and fun, not a chore... Bulent is a fantastic music educator because he is neither too easy, nor too critical. He is pleasant, inspiring and meticulous.</blockquote>
          <cite>Lis A.</cite>
        </li>
        <li>
        <blockquote>One of my daughters worked with Bulent on piano and enjoyed every minute. She looked forward to every lesson and felt compelled to learn more. Bulent always went above and beyond, working on technique and voice... Bulent gave her the confidence through trust and play to feel comfortable with performing.</blockquote>
        <cite>Sharon P.</cite>
      </ul>
    </section>
  </div>
</section>

<section id="teaching">
  <div class="grid">
    <h2>Teaching</h2>
    <div class="narrow">
      <p>I tailor my lessons to the student, working on both technique and on songs that the student wants to learn.</p>
      <p>For singing, I use a natural method to get students to freely express their natural voice, which can be applied to any musical style &mdash; developing solid technique, resonance, projection, diction, and range.</p>
    </div>
  </div>
</section>

<section id="performances">
  <div class="grid">
    <h2>Performances</h2>
    <ul>
      {% for performance in site.data.performances %}
        <li>
          <div class="video-wrapper">
            <iframe src="{{ performance.url }}" frameborder="0" allowfullscreen></iframe>
          </div>
        </li>
      {% endfor %}
    </ul>
    <div class="callout">
      <a class="button" href="https://www.youtube.com/user/bulentguneralp">See more videos on YouTube</a>
    </div>
  </div>
</section>

<section id="experience">
  <div class="grid">
    <h2>Experience</h2>
    <ul>
      <li>
        <h3>Voice</h3>
        <ul>
          <li>GPD in Voice at The Boston Conservatory</li>
          <li>Opera Performance at Longy School of Music</li>
          <li>Voice-opera Program at Istanbul University State Conservatory</li>
          <li>Instructor at The Boston Conservatory</li>
          <li>Instructor at Quincy Point Music Academy</li>
          <li>Instructor at A Street Music, Quincy</li>
          <li>Voice teacher/coach at Boston Singers' Resource</li>
        </ul>
      </li>
      <li>
        <h3>Drums</h3>
        <ul>
          <li>Drummer of The Cross Roads</li>
          <li>Past member of the Istanbul State Theater Orchestra</li>
          <li>Instructor at Quincy Point Music Academy</li>
          <li>Instructor at A Street Music, Quincy</li>
        </ul>
      </li>
      <li>
        <h3>Piano</h3>
        <ul>
          <li>Member of Faber Piano Teaching Adventures Club</li>
          <li>Instructor at Quincy Point Music Academy</li>
          <li>Instructor at A Street Music, Quincy</li>
        </ul>
      </li>
    </ul>
  </div>
</section>

<section id="lessons">
  <div class="grid">
    <h2>Lessons</h2>
    <div class="narrow">
      <p>Get lessons from a student favorite in the Boston area. Voice, drum, and piano lessons are open to students of all ages and levels.</p>
      <ul class="pricing">
        <li><div class="price">$30</div> 30 minutes</li>
        <li><div class="price">$45</div> 45 minutes</li>
        <li><div class="price">$60</div> 60 minutes</li>
      </ul>

      <div class="location">
        <p class="description">My studio is conveniently located in Somerville, a ten minute walk from both Davis and Porter Square T stations.</p>
        <p class="map"><img src="/assets/location.png" alt="Location" /></p>
      </div>
      <div class="contact">
        <p>Send me an email and we can schedule your first lesson.</p>
        <p><a href="mailto:{{ site.email }}?subject=interested in lessons">{{ site.email }}</a></p>
      </div>
    </div>
  </div>
</section>
