---
layout: homepage
title: Bulent Guneralp - Boston-area singer, pianist, drummer, and teacher.
---

<section id="overview">
  <div class="grid">
    <div class="overlay">
      <h1><a href="/">{{ site.title }}</a></h1>

      <div class="summary">
        <p>{{ site.description }}</p>
      </div>

      {% include links.html %}
    </div>
  </div>
</section>

<section id="reviews">
  <div class="grid">
    <p class="rating">&ldquo;&#9733;&#9733;&#9733;&#9733;&#9733;&rdquo;</p>
    <p class="description">A student favorite on TakeLessons.com</p>
    <p><a class="button" href="http://takelessons.com/profile/bulent-g#Reviews">See reviews</a></p>
  </div>
</section>

{% include testimonials.html %}

<section id="teaching">
  <div class="grid">
    <h2>Teaching Method</h2>
    <div class="narrow">
      <p>I tailor my lessons directly to what my student needs, working on both developing technique and a repetoire of songs that the student wants to learn.</p>
      <p>For singing, I use an experience-tested method to get students to freely express their natural voice, while developing solid technique, resonance, projection, diction, and range.</p>
    </div>
  </div>
</section>

{% include performances.html %}

{% include press.html %}

{% include experience.html %}

{% include lessons.html %}
