---
layout: page
title: Testimonials - Bulent Guneralp
permalink: /testimonials/
---

<section id="testimonials">
  <div class="grid">
    <h2>What Students Say</h2>

    <section class="narrow">
      <h3>Voice Lessons</h3>
      <ul>
        {% for quote in site.data.testimonials.voice %}
          <li>
            <blockquote>{{ quote.quote }}</blockquote>
            <cite>{{ quote.cite }}</cite>
          </li>
        {% endfor %}
      </ul>
    </section>

    <section class="narrow">
      <h3>Piano Lessons</h3>
      <ul>
        {% for quote in site.data.testimonials.piano %}
          <li>
            <blockquote>{{ quote.quote }}</blockquote>
            <cite>{{ quote.cite }}</cite>
          </li>
        {% endfor %}
      </ul>
    </section>
  </div>
</section>
