<section id="experience">
  <div class="grid">
    <h2>Experience</h2>
    <ul>
      <li>
        <h3>Voice</h3>
        <ul>
          <li>GPD in Voice at <strong>The Boston Conservatory</strong></li>
          <li>Opera Performance at <strong>Longy School of Music</strong></li>
          <li>Voice-opera Program at <strong>Istanbul University State Conservatory</strong></li>
          <li>Voice teacher/coach at <strong>Boston Singers' Resource</strong></li>
          <li>Past faculty at <strong>Quincy Point Music Academy</strong></li>
          <li>Past faculty at <strong>A Street Music, Quincy</strong></li>
        </ul>
      </li>
      <li>
        <h3>Piano</h3>
        <ul>
          <li>Member of <strong>Faber Piano Teaching Adventures Club</strong></li>
          <li>Past faculty at <strong>Quincy Point Music Academy</strong></li>
          <li>Past faculty at <strong>A Street Music, Quincy</strong></li>
        </ul>
      </li>
    </ul>

    <h2>Awards</h2>
    <ul class="awards">
      {% for award in site.data.awards %}
        <li>
          <p><strong>{{ award.title }}</strong></p>
          <p>{{ award.granted_by }}</p>
          <p class="date">{{ award.date }}</p>
        </li>
      {% endfor %}
    </ul>

    <div class="callout"><a class="button" href="/assets/bulent_guneralp_resume.pdf">See resume</a></div>
  </div>
</section>
