<section id="lessons">
  <div class="grid">
    <h2>Lessons</h2>
    <div class="narrow">
      <p>Get lessons from an award-winning vocalist and student favorite. Voice and piano lessons are open to students of all ages and backgrounds.</p>
      <p class="location">Lessons are taught at my studio in Somerville, an easy ten minute walk from both Davis and Porter Square T stations.</p>

      <ul class="pricing">
        <li><div class="price">$30</div> 30 minutes</li>
        <li><div class="price">$45</div> 45 minutes</li>
        <li><div class="price">$60</div> 60 minutes</li>
      </ul>

      <p class="pricing-detail">You can also choose a custom lesson length (30 minutes minimum)</p>

      <div class="contact">
        <p>To schedule a first lesson, please send an email to:</p>
        <p><a href="mailto:{{ site.email }}?subject=interested%20in%20lessons">{{ site.email }}</a></p>
      </div>
    </div>
  </div>
</section>
