<section id="press">
  <div class="grid">
    <h2>Press</h2>
    <section>
      <ul>
        <li>
          <blockquote>Thunderous bass-baritone resonated through our studio.</blockquote>
          <cite>Cambridge Community TV Newsletter Open Studio</cite>
        </li>
        <li>
          <blockquote>Both of the singers, Anne Byrne and Bülent Güneralp, were outstanding dramatically and musically.</blockquote>
          <cite>Sam Bodkin, The Boston Music Intelligencer</cite>
        </li>
        <li>
          <blockquote>&hellip; Guneralp, too, goes beyond merely mastering the song; he moves, he chuckles, he winks and instantly creates a vivid character to put across these songs. Together, he and Lisovskaya are the perfect duo. Perfect interpretation and emotional impact as if they ARE the characters they sing.</blockquote>
          <cite>Jagan-Nath Khalsa, Music and Song</cite>
        </li>
      </ul>
    </section>
    <section>
      <ul>
        <li>
          <blockquote>Bülent Güneralp takes on several parts with a firm bass-baritone and comedic panache.</blockquote>
          <cite>James F. Cotter, The Times Herald-Record</cite>
        </li>
        <li>
          <blockquote>When you think of opera, the word modern doesn't usually follow. Bülent Güneralp, a Turkish singer living in Somerville, is changing the way we think about this centuries-old art form. Güneralp is anything but a stereotypical opera singer&hellip;  He has performed Broadway pieces, jazz solos, spirituals, and even contemporary pop songs, which he says inform his interpretation of even the most classical roles in opera&hellip; This opera singer, who says his favorite music ranges from that of the heavy metal 80s band Cacophony to jazz pianist Chick Corea, shows that opera singers may not be what you think, and his audiences are surprisingly diverse as well.</blockquote>
          <cite>Chelsea Whyte, The Somerville News</cite>
        </li>
      </ul>
    </section>
  </div>
</section>
