$max-width: 50em;
@import "bourbon/bourbon";
@import "neat/neat";
@import "bitters/bitters";

$borderColor: #ddd;
$headerColor: darken(#c29133, 10%);

body {
  margin: 0;
}

h1 {
  font-family: 'Great Vibes', sans-serif;
  font-size: 6em;
  a {
    color: $headerColor;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
  }
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.6em;
  text-transform: uppercase;
  color: darken($headerColor, 15%);
}

.grid {
  @include outer-container;
  h2 {
    text-align: center;
  }
}
.narrow {
  @include span-columns(8);
  @include shift(2);
}

footer .grid {
  border-top: 1px solid $borderColor;
}

body > section {
  padding: 2em 0;
}

/* Homepage */
#overview {
  padding: 12em 0;
  background: url("/assets/background.jpg") center center no-repeat;
  background-size: cover;
}
#testimonials {
  ul {
    @include clearfix;
    li {
      @include span-columns(4);
    }
  }
}
