$max-width: 50em;
@import "bourbon/bourbon";
@import "neat/neat";
@import "bitters/bitters";

$borderColor: #ddd;
$headerColor: darken(#c29133, 10%);

body {
  margin: 0;
}

h1 {
  font-family: 'Great Vibes', sans-serif;
  font-size: 6em;
  a {
    color: $headerColor;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
  }
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 1.6em;
  text-transform: uppercase;
  color: $headerColor;
}

h3 {
  font-size: 1.3em;
}

.grid {
  @include outer-container;
  h2 {
    margin-bottom: 1.5em;
    text-align: center;
  }
}
.narrow {
  @include span-columns(8);
  @include shift(2);
}

footer .grid {
  border-top: 1px solid $borderColor;
}

body > section {
  padding: 3em 0;
}

/* Homepage */
#overview {
  padding: 12em 0;
  background: url("/assets/background.jpg") center center no-repeat;
  background-size: cover;
}
#reviews {
  background: #efefef;
}
#testimonials {
  h3 {
    text-align: center;
  }
  ul {
    @include clearfix;
    li {
      @include span-columns(6);
    }
  }
}
#experience {
  background: #efefef;
  h3 {
    text-align: center;
    margin-bottom: 1em;
  }
  .grid > ul {
    @include clearfix;
    > li {
      @include span-columns(4);
    }
  }
}
#lessons {
  .grid > ul {
    @include clearfix;
    clear: both;
    > li {
      @include span-columns(4);
      text-align: center;
    }
  }
  .location-description {
    @include span-columns(5 of 8);
  }
  .location-map {
    @include span-columns(3 of 8);
  }
  .price {
    font-family: 'Lato', sans-serif;
    font-size: 2em;
  }
}
